APP_NAME="AutoTech Pro"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=
APP_LOCALE=pt_BR
APP_TIMEZONE=America/Fortaleza

LOG_CHANNEL=stderr
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_URL=
# Se usar MySQL no Railway, voce tambem pode referenciar:
# DB_URL=${{MySQL.MYSQL_URL}}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

OS_DEFAULT_MECANICO_EMAIL=jose@autotech.com

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@autotech.com"
MAIL_FROM_NAME="${APP_NAME}"

RUN_MIGRATIONS=false
